In [73]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import numpy as np
import warnings

In [74]:
rb_df = pd.read_csv('RBData_Class.csv', index_col=0)
warnings.filterwarnings("ignore")

In [75]:
rb_df.head()

,Name,Y1,Y2,Y3,Y4,Y5,Y6,Y7,Y8,Y9,Y10,Y11,Y12,Y13,Y14,Y15,Y16,Class
0,Emmitt Smith+,206.5,309.1,377.8,307.0,364.5,426.8,282.3,194.8,267.7,256.6,193.2,148.7,152.4,62.3,173.2,0.0,5
1,Walter Payton+,164.2,246.9,335.1,303.5,319.3,270.7,249.1,128.7,303.8,316.2,318.4,274.5,138.0,0.0,0.0,0.0,5
2,Marshall Faulk+,304.4,295.3,199.5,247.5,368.7,401.9,455.9,423.7,289.0,221.8,182.4,108.3,0.0,0.0,0.0,0.0,5
3,LaDainian Tomlinson+,279.3,386.2,439.0,338.6,354.2,474.3,362.9,277.6,180.4,216.2,132.9,0.0,0.0,0.0,0.0,0.0,5
4,Barry Sanders+,283.2,310.4,328.5,246.7,186.0,308.6,309.8,260.0,352.8,239.0,0.0,0.0,0.0,0.0,0.0,0.0,5

In [76]:
current_rb_df = pd.read_csv('Current_RBData.csv', index_col=0)
current_rb_df["Seasons"] = 12 - current_rb_df.isna().sum(axis=1)

current_rb_df = current_rb_df.fillna(0) \
                    .drop(['Position', 'AV', 'First Year', 'Last Year'], axis=1)

In [77]:
current_rb_df.head()

,Name,Y1,Y2,Y3,Y4,Y5,Y6,Y7,Y8,Y9,Y10,Y11,Y12,Seasons
0,Mark Ingram,93.0,99.1,58.4,193.9,203.4,242.2,284.0,144.5,242.5,52.9,110.6,52.1,12
1,Ezekiel Elliott,327.4,205.2,331.1,315.7,231.7,247.9,185.8,0.0,0.0,0.0,0.0,0.0,7
2,Alvin Kamara,314.4,348.2,250.0,377.8,234.7,219.7,0.0,0.0,0.0,0.0,0.0,0.0,6
3,Derrick Henry,105.7,135.0,202.8,300.6,335.1,187.1,304.6,0.0,0.0,0.0,0.0,0.0,7
4,Christian McCaffrey,230.6,381.5,469.2,90.4,127.5,351.0,0.0,0.0,0.0,0.0,0.0,0.0,6

In [81]:
preds = []
for rb in current_rb_df.iterrows():
    n = rb[1]["Seasons"]
    df = rb_df.drop(columns=rb_df.columns[n+1:17])
    X = df.drop(["Name", "Class"], axis=1)
    y = df["Class"]
    
    model = LogisticRegression(max_iter=1000).fit(X, y)
    curr_rb = np.array(rb[1].iloc[1:n+1]).reshape(1, -1)
    prediction = model.predict(curr_rb)
    preds.append(prediction[0])
    
current_rb_df["Prediction"] = preds

In [82]:
current_rb_df

,Name,Y1,Y2,Y3,Y4,Y5,Y6,Y7,Y8,Y9,Y10,Y11,Y12,Seasons,Prediction
0,Mark Ingram,93.0,99.1,58.4,193.9,203.4,242.2,284.0,144.5,242.5,52.9,110.6,52.1,12,5
1,Ezekiel Elliott,327.4,205.2,331.1,315.7,231.7,247.9,185.8,0.0,0.0,0.0,0.0,0.0,7,5
2,Alvin Kamara,314.4,348.2,250.0,377.8,234.7,219.7,0.0,0.0,0.0,0.0,0.0,0.0,6,5
3,Derrick Henry,105.7,135.0,202.8,300.6,335.1,187.1,304.6,0.0,0.0,0.0,0.0,0.0,7,5
4,Christian McCaffrey,230.6,381.5,469.2,90.4,127.5,351.0,0.0,0.0,0.0,0.0,0.0,0.0,6,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,Trey Ragas,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3
175,Ronnie Rivers,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3
176,Mekhi Sargent,1.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3
177,Isaiah Spiller,8.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3
178,Zamir White,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3